* { margin: 0; padding: 0; }

body {
    padding: 1em;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: center;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

button {
    padding: 0.5em;
    margin: 1.5em 0;
    margin-right: 0.5em;
    width: 8em;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 2em;
    font-family: monospace;
    line-height: 0;
    text-align: center;
    cursor: default;
    
    /* the user might click and drag on the table while they waffle over
     * deciding to click a field or not. This prevents distracting highlights
     */
            user-select: none;
       -moz-user-select: none;
    -webkit-user-select: none;
}
td {
    width: 1em;
    height: 1em;
    padding: 0.125em;
    border-radius: 3px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #999;
    border-right: 1px solid #666;
    border-bottom: 1px solid #333;
}
td.depressed {
    border-top: 1px solid #333;
    border-left: 1px solid #666;
    border-right: 1px solid #999;
    border-bottom: 1px solid #CCC;
}

td {
    background-repeat: no-repeat;
    background-position: center;
}
td.open {
    border-radius: 0;
    border: 1px solid #CCC;
    background-color: #EEE;
}
td.closed {
    background-color: #CCC;
}
td.explosion {
    background-image: url('icons/explosion.png');
}
td.flag {
    background-image: url('icons/flag.png');
}
td.badflag {
    background-image: url('icons/badflag.png');
}
td.goodflag {
    background-image: url('icons/goodflag.png');
}
td.mine {
    background-image: url('icons/mine.png');
}
