* { margin: 0; padding: 0; }

body {
    padding: 1em;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: center;
}

#cheat-pixel {
    width:  3px;
    height: 3px;
    background-color: red;
    position: absolute;
    top:  2px;
    left: 2px;
    display: none;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}
#header { 
    height: 3em; 
    overflow: hidden; 
}
#header h1 {
    font-weight: normal;
    position: relative;
    top: -1.5em;
    transition: top 500ms ease-in;
}
#header.lose h1 { top:  0.0em; }
#header.win h1  { top: -3.0em; }
#header #lose { color: red;   font-weight: bold; }
#header #win  { color: green; font-weight: bold; }


button, input, select {
    font-size: inherit;
}
#setting, #new-game, #validate  {
    padding: 0.5em;
    text-align: center;
    margin: 1.5em 0.5em;
}

p {
    margin: auto;
    margin-top: 1em;
    width: 25em;
}


table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 28px;
    line-height: 0;
    text-align: center;
    cursor: default;

    /* the user might click and drag on the table while they waffle over
     * deciding to click a field or not. This prevents distracting highlights
     */
            user-select: none;
       -moz-user-select: none;
    -webkit-user-select: none;
}
td {
    width:  32px;
    height: 32px;
    min-width:  32px;
    min-height: 32px;

    border-radius: 3px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #999;
    border-right: 1px solid #666;
    border-bottom: 1px solid #333;

    background-repeat: no-repeat;
    background-position: center;
}
td.depressed {
    border-top: 1px solid #333;
    border-left: 1px solid #666;
    border-right: 1px solid #999;
    border-bottom: 1px solid #CCC;
}
td.open {
    border-radius: 0;
    border: 1px solid #CCC;
    background-color: #EEE;
}
td.closed {
    background-color: #CCC;
}
td.flag      { background-image: url('icons/flag.gif'); }
td.goodflag  { background-image: url('icons/goodflag.gif'); }
td.badflag   { background-image: url('icons/badflag.gif'); }
td.mine      { background-image: url('icons/mine.gif'); }
td.explosion { background-image: url('icons/explosion.gif'); }
