* { margin: 0; padding: 0; }

body {
    padding: 1em;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: center;
}

#cheat-pixel {
    width: 2px;
    height: 2px;
    background-color: red;
    position: absolute;
    top:  1px;
    left: 1px;
    display: none;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

/* the properties that let the win/lose banner slide in */
#header { height: 3.5em; overflow: hidden; }
#header h1 {
    font-weight: normal;
    position: relative;
    top: -1.5em;
           -transition: top 500ms ease-in;
       -moz-transition: top 500ms ease-in;
    -webkit-transition: top 500ms ease-in;
}
#header.lose h1 { top:  0.0em; }
#header.win h1  { top: -3.0em; }
#header #lose { color: red;   font-weight: bold; }
#header #win  { color: green; font-weight: bold; }


button, input {
    font-size: inherit;
}

button, label {
    padding: 0.5em;
    margin: 1.5em 0.5em;
    width: 7em;
}
input {
    margin-right: 0.5em;
}


table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 1.75em;
    line-height: 0;
    text-align: center;
    cursor: default;

    /* the user might click and drag on the table while they waffle over
     * deciding to click a field or not. This prevents distracting highlights
     */
            user-select: none;
       -moz-user-select: none;
    -webkit-user-select: none;
}
td {
    width:  1.25em;
    height: 1.25em;
    padding: 0.125em;
    border-radius: 3px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #999;
    border-right: 1px solid #666;
    border-bottom: 1px solid #333;
}
td.depressed {
    border-top: 1px solid #333;
    border-left: 1px solid #666;
    border-right: 1px solid #999;
    border-bottom: 1px solid #CCC;
}

td {
    background-repeat: no-repeat;
    background-position: center;
}
td.open {
    border-radius: 0;
    border: 1px solid #CCC;
    background-color: #EEE;
}
td.closed {
    background-color: #CCC;
}
td.explosion {
    background-image: url('icons/explosion.png');
}
td.flag {
    background-image: url('icons/flag.png');
}
td.badflag {
    background-image: url('icons/badflag.png');
}
td.goodflag {
    background-image: url('icons/goodflag.png');
}
td.mine {
    background-image: url('icons/mine.png');
}
